<h1>Dungeons Index</h1>
<nav class="menu">
  <ul>
    <li><a href="/monsters">Monsters Index</a></li>
    <li><a href="/dungeons">Dungeons Index</a></li>
  </ul>
</nav>


<% @dungeons.each do |dungeon| %>
  <h3><p><%= dungeon.name %></p></h3>
  <p>Created at: <%= dungeon.created_at %></p>
<% end %>

